* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    direction: rtl;
}

.main-header {
    width: 100%;
    background-color: #ffffff;
    padding: 8px 16px;
    margin-bottom: 10px;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}


.top-menu {
    width: 100%;
    background-color: #FFF;
    margin-bottom: 20px;
    padding: 5px;
}

.top-menu>a {
    float: right;
    margin-left: 30px;
}

.top-menu>input {
    padding: 5px;
    width: 30%;
    margin-left: 50%;

}

.top-menu>button {
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.top-menu::after {
    content: "";
    display: block;
    clear: both;
}

.main-header__logo>a {
    color: #e3f3fd;
    text-decoration: none;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 50px);
    text-align: right;
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item--acount a {
    background-color: #e3f3fd;
    color: #1565c0;
    border-radius: 5px;
    padding: 8px 16px;
}

.main-nav__item a {
    text-decoration: none;
}




/* slider section strat here */

/* Slideshow container */
.slideshow-container {
    max-width: 100%;
    height: 100%;
    position: relative;
    margin: auto;
}

.slideshow-container img {
    height: 400px;
}

/* Next & previous buttons */
.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

/* Position the "next button" to the right */
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

/* Caption text */


/* Number text (1/3 etc) */
.numbertext {
    color: #f2f2f2;
    font-size: 12px;
    padding: 8px 12px;
    position: absolute;
    top: 0;
}

/* The dots/bullets/indicators */
.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    transition: background-color 0.6s ease;
}

.active,
.dot:hover {
    background-color: #717171;
}

/* Fading animation */
.fade {
    animation-name: fade;
    animation-duration: 1.5s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}

/* On smaller screens, decrease text size */
@media only screen and (max-width: 300px) {

    .prev,
    .next,
    .text {
        font-size: 11px
    }
}

/* catagory start here */
.flex-container {
    display: flex;
    background-color: DodgerBlue;
    justify-content: space-evenly;
}

/* .flex-container>div {
    background-color: #f1f1f1;
    margin: 10px;
    padding: 20px;
    font-size: 30px;
} */