* {
    margin: 0;
    padding: 0;
}

.main-header {
    width: 100%;
    background-color: #1565c0;
    padding: 8px 16px;
}

.main-header>div {
    display: inline-block;
    vertical-align: middle;
}


.top-menu {
    width: 100%;
    background-color: #FFF;
    margin-bottom: 20px;
    padding: 5px;
}

.top-menu>a {
    float: right;
    margin-right: 40px;
}

.top-menu>input {
    padding: 5px;
    width: 30%;
    margin-left: 50%;

}

.top-menu>button {
    padding: 5px;
    text-align: center;
    font-size: 14px;
    font-weight: bold;
}

.top-menu::after {
    content: "";
    display: block;
    clear: both;
}

.main-header__logo>a {
    color: #e3f3fd;
    text-decoration: none;
    font-size: 22px;
}

.main-nav {
    display: inline-block;
    width: calc(100% - 50px);
    text-align: right;
    vertical-align: middle;
}

.main-nav__items {
    margin: 0;
    padding: 0;
    list-style: none;
}

.main-nav__item {
    display: inline-block;
    margin: 0 16px;
}

.main-nav__item--acount a {
    background-color: #e3f3fd;
    color: #1565c0;
    border-radius: 5px;
    padding: 8px 16px;
}

.main-nav__item a {
    text-decoration: none;
}

#slide-image {
    width: 100%;
    height: 400px;
    background-image: url('../img/slide.jpeg');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}